extends layout
block page
block content
  .col-md-4.col-md-offset-4
    h2 Add Admin
    div= error
    div
      form(action="/AddAdmin", method="POST")
        p
          input.form-control(name="email", type="text", placeholder="13041621@cnsuning.com")
        p
          input.form-control(name="password", type="password", placeholder="123")
        p
          select.form-control(name="role")
            option(value="1" selected) Admin 
            option(value="2") Super Admin    
        p
          button.btn.btn-lg.btn-primary.btn-block(type="submit") Submit
